@model BookStore.Model.Models.Book
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book Details</h2>
<div>
    <div>
        <b>Id</b>
        <p>@Model.id</p>
    </div>
    <div>
        <b>Title</b>
        <p>@Model.title</p>
    </div>
    <div>
        <b>Authors</b>
        <p>@Model.authers</p>
    </div>
    <div>
        <b>Publish Year</b>
        <p>@Model.publishYear</p>
    </div>
    <div>
        <b>Price</b>
        <p>@Model.basePrice</p>
    </div>
</div>

